/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/05/2023, 08:53:43 PM
    Author     : LUIS.MU
*/

body{
    font-family: Arial;
}
table, td,th{
    border: 1px solid rgba (0,0,0,0.2);
}

table{
    border-collapse: collapse;
    width:90%;
    text-align:center;
}

th,td{
    padding: 5px 5px;    
}

th{
    background: #f23535;
    color:#fff;
}

.trhover:hover{
    background: #e5e5e5;
}

.table100{
    border-collapse: collapse;
    width:100%;
    text-align:center;
}

input[type=”file”]#nuestroinput {
 width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
 }
 
label[for=" nuestroinput"] {
 font-size: 14px;
 font-weight: 600;
 color: #fff;
 background-color: #106BA0;
 display: inline-block;
 transition: all .5s;
 cursor: pointer;
 padding: 15px 40px !important;
 text-transform: uppercase;
 width: fit-content;
 text-align: center;
 } 
 
 

